@charset "utf-8";


form#mail_form{
	background : #ffffff;
}

form#mail_form dl{
    display: grid;      
    grid-template-rows: 1fr 1fr;/*2行*/
	grid-template-columns: 1fr 1fr;/*2列*/
	justify-content: space-around;
	align-content: space-around;
	width: 100%;	
	height: 100%;	
}

form#mail_form dl div.inquirer{
    grid-column:1/2;
	grid-row: 1/3;
	width: 90%;
	height: 90%;
	justify-self: center;
}

form#mail_form dl div.inquiry{
    grid-column:2/3;
	grid-row: 1/3;
	width: 90%;
	height: 90%;
	justify-self: center;
}

form#mail_form dd#contact_dd_mail_contents
,form#mail_form textarea#mail_contents{
	width: 100%;	
	height: 100%;	
}



form#mail_form dl dt{
	display : none;
	/*
	clear : both;
	width : 30%;
	float : left;
	border-top : 1px solid #cccccc;
	padding : 15px 0;
	text-align : right;
	overflow : hidden;
	*/
	 
}

form#mail_form dl dd{
	border : none;
}

form#mail_form dl dt span{
	display : block;
	font-size : 85%;
	color : #3377ff;
}


/* -- for JavaScript ここから -------------------------------------------------------------------------------- */

form#mail_form dl dt span.required,
form#mail_form dl dt span.optional{
	display : none;
	/*display : inline-block;*/
	float : left;
	color : #ffffff;
	line-height : 1;
	padding : 8px 9px;
	border-radius : 3px;
}


form#mail_form dl dt span.required{
	background : #d9534f;
	border : 1px solid #d43f3a;
}

form#mail_form dl dt span.optional{
	background : #337ab7;
	border : 1px solid #2e6da4;
}


form#mail_form dl dd span.error_blank,
form#mail_form dl dd span.error_format,
form#mail_form dl dd span.error_match{
	display : block;
	color : #ff0000;
	font-size : 80%;
	margin-top : 3px;
}


span.loading{
	width : 50px;
	height : 50px;
	border-radius : 50%;
	border-top : 5px solid rgba( 255, 255, 255, 0.2 );
	border-right : 5px solid rgba( 255, 255, 255, 0.2 );
	border-bottom : 5px solid rgba( 255, 255, 255, 0.2 );
	border-left : 5px solid #ffffff;
	-webkit-transform : translateZ( 0 );
	-ms-transform : translateZ( 0 );
	transform : translateZ( 0 );
	-webkit-animation : load-circle 1.0s linear infinite;
	animation : load-circle 1.0s linear infinite;
	position : absolute;
	top : 50%;
	left : 50%;
	margin-top : -25px;
	margin-left : -25px;
}

@-webkit-keyframes load-circle{
	0%{
		-webkit-transform : rotate( 0deg );
		transform : rotate( 0deg );
	}
	100%{
		-webkit-transform : rotate( 360deg );
		transform : rotate( 360deg );
	}
}

@keyframes load-circle{
	0%{
		-webkit-transform : rotate( 0deg );
		transform : rotate( 0deg );
	}
	100%{
		-webkit-transform : rotate( 360deg );
		transform : rotate( 360deg );
	}
}


/* -- for JavaScript ここまで -------------------------------------------------------------------------------- */


form#mail_form input[type="text"],
form#mail_form input[type="email"]
{
	width : 100%;
	height : 2.5em;
	padding : 2px 2%;
	border : 1px solid rgb(166, 166, 166);
	background : rgb(255, 255, 255);
	-webkit-appearance : none;
	font-size : 100%;
	font-family : inherit;
}

form#mail_form input[type="text"]:focus,
form#mail_form input[type="email"]:focus,
form#mail_form textarea:focus{
	box-shadow : 0px 0px 5px #55ccff;
	border : 1px solid #55ccff;
	background : #ffffff;
}


form#mail_form textarea{
	display : block;
	padding : 2px 2%;
	resize : vertical;
	border : 1px solid rgb(166, 166, 166);
	background : rgb(255, 255, 255);
	-webkit-appearance : none;
	font-size : 100%;
	font-family : inherit;
}


form#mail_form p#form_submit{
	width : 90%;
	margin : 0 auto;
	padding : 15px 0;
}

form#mail_form input[type="button"]{
	padding : 15px 30px;
	vertical-align : middle;
	letter-spacing : 1em;
	line-height : 1;
	background : rgb(102, 102, 102);
	border : 1px solid rgb(102, 102, 102);
	color : #ffffff;
	font-family : inherit;
	-webkit-appearance : none;
	font-size : 100%;
}

form#mail_form input[type="button"]:hover{
	cursor : pointer;
	background : rgb(166, 166, 166);
	border : 1px solid rgb(166, 166, 166);
}

form#mail_form input#form_submit_button{
	margin-left : 40%;
}








/* --responsive----------------------------------------------------------------------------------------------------------------- */

/* 640pixel start */
@media screen and ( max-width : 640px ){

form#mail_form{
	width : 95%;
}

form#mail_form dl{
	overflow : visible;
}

form#mail_form dl dt{
	width : auto;
	float : none;
	text-align : left;
	padding : 10px 0 5px;
	font-weight : bold;
}

form#mail_form dl dd{
	width : auto;
	float : none;
	border-top : none;
	padding : 0px 0 13px 0px;
}

form#mail_form dl dt span{
	font-weight : normal;
}


/* -- for JavaScript ここから -------------------------------------------------------------------------------- */

form#mail_form dl dt span.required,
form#mail_form dl dt span.optional{
	margin-right : 1em;
	margin-bottom : 2em;
}


/* -- for JavaScript ここまで -------------------------------------------------------------------------------- */

form#mail_form input[type="text"],
form#mail_form input[type="email"]{
	margin-top : 0px;
}

form#mail_form input#form_submit_button{
	margin-left : 0;
}

}
/* 640pixel end */




