@charset "utf-8";



a:link,
a:visited{
	color : #4040ff;
}

a:hover,
a:active{
	color : #4040ff;
	text-decoration : none;
}




/* --responsive------------------------------------------- */

/* 735pixel start */
@media screen and ( max-width : 735px ){

body{
	font-size : 100%;
}

}
/* 735pixel end */

