/*
共通css
*/

@charset "utf-8";   
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400');
/*-------------------------------------------------------
reset
-------------------------------------------------------*/
html,body,header,footer,article,section,nav,aside,main,h1,h2,h3,h4,h5,h6,p,div,ul,ol,li,dl,dt,dd,table,th,td,blockquote,pre,figure {margin: 0; padding: 0;}
header,footer,article,section,nav,aside,main,figure {display: block;}
a {outline: 0; text-decoration: none;}
a:focus,*:focus {outline: none;}
a img {backface-visibility: hidden;}
img {border: 0; outline: 0;}
ul,ol {list-style: none;}
em,address {font-style: normal;}
* h1,* h2,* h3{
    font-weight: normal;
}

body {
    background: rgb(240,240,240);
}

header {
    position: fixed;
}

#page_box{
    background: -moz-linear-gradient(left,#83e4df,#bcf06b); 
    background: -webkit-linear-gradient(left, #83e4df,#bcf06b); 
    background: linear-gradient(to right, #83e4df,#bcf06b);
    margin-right: auto;
    margin-left : auto;
    
}

/*------------------------------------------------*/
/* main_visual～自己紹介まで */
/*------------------------------------------------*/
#main_visual{
     background: url("../data/img/mainvisual_pc.jpg") no-repeat center center;
     background-size:100% auto;/*表示領域に収める*/
}


main{
    display: grid;      /* グリッドコンテナを作る */
    align-items: center;
    grid-template-rows: 3fr 7.5fr 5fr;/* 行の髙さの比率 3行*/
    grid-template-columns:1fr 1fr;  /* 列の幅の比率 2列*/

    /*IE*/
    display: -ms-grid;
    -ms-grid-rows: 3fr 7fr 5fr;/*3行*/
    -ms-grid-columns: 1fr 1fr;/*２列*/
}
main #about{
    grid-row:1/2;
    grid-column:1/3;
    justify-self: center;
    text-align: center;

    /*IE*/
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    -ms-grid-row-align: center;
}
main #retouch{
    grid-row:2/3;
    grid-column:1/2;
    margin-left: 15%;
    text-align: center;

    /*IE*/
    -ms-grid-row: 2;
    -ms-grid-column: 1;
	-ms-grid-column-span: 1;
}

main #design{
    grid-row:2/3;
    grid-column:2/3;
    text-align: center;

    /*IE*/
    -ms-grid-row: 2;
    -ms-grid-column: 2;
	-ms-grid-column-span: 1;
}

 main #retouch h1
,main #design h1 {
    font-family: 'Oswald', sans-serif;
    font-weight:lighter;
    font-size: 2.5em;
    text-align: center;
    color: rgb(102,102,102);
}

 main #retouch img
,main #design img {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}



main #self_introduction{
    grid-row:3/4;
    grid-column:1/3;    background: rgb(255,255,255);

    /*IE*/
    -ms-grid-row: 3;
    -ms-grid-column: 1;
	-ms-grid-column-span: 2;
}

main #self_introduction h2{
    font-size: 1.2em;
    color: rgb(102,102,102);
    width: 6em;
    background: -moz-linear-gradient(left,#83e4df,#bcf06b); 
    background: -webkit-linear-gradient(left, #83e4df,#bcf06b); 
    background: linear-gradient(to right, #83e4df,#bcf06b);
    padding: 1em 2em 1em 2em ;
    text-align: center;
    letter-spacing: 0.3em;
}   

main #self_introduction .explanatory_text p{
     margin-top: 20px;
     margin-bottom: 20px;
}

.skill{
    font-size: 0.9em;
    margin-right: 0.5em;
    padding-left: 0.7em;
    padding-right: 0.7em;
    color: rgb(255,255,255);
    border-radius: 13%/50%;
    border: 2px solid rgb(166,166,166);
    background: rgb(166,166,166);
}

/*------------------------------------------------*/
/* Portfolio～Contact */
/*------------------------------------------------*/
/* 見出し */
article h1, .article_description{
    font-family: 'Oswald', sans-serif;
    text-align: center;
    color: rgb(102,102,102);
}
article h1{
    margin-top: 80px;
    margin-bottom: 0px;
    font-size: 2.7em;
}
.article_description{
    margin-top: 0px;
    margin-bottom: 40px;
    font-size: 0.7em;
}
.marker{
    background: linear-gradient(transparent 70%, rgb(255,255,99) 0%);
}

/* Portfolio */
#portfolio_image {
    margin-top: 40px;
    margin-bottom: 40px;
}


#portfolio_image img{
    /*イメージが正方形でなくてもおさまるように*/
    width:auto;
    height:auto;
    max-width:100%;
    max-height:100%;
    background: rgb(255,255,255);
}

/* Work flow */
.work_flow_stage{
    background: rgb(256,256,256);
}


article#workflow dl{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 40px;
    margin-bottom: 40px;
}

article#workflow dl div.work_flow_stage{
    /*ここではflexの指定だけ。flex配置方法はpc用とsp用で出し分ける*/
    display: flex;
    background: rgb(256,256,256);
    padding: 3%;
    margin-bottom:40px; 
}

/*#workflow dd,#workflow dtはpc用とsp用で出しわける*/
article#workflow dd{
    font-size: 1.5em;
}



/* Cost */
article#cost dl{
    /*ここではflexの指定だけ。flex配置方法はpc用とsp用で出し分ける*/
    display: flex;
    margin-top: 40px;
    margin-bottom: 40px;
}

article#cost dl div#plans_first_half
,article#cost dl div#plans_latter_half{
    display: flex;
    flex-direction: column;
}


article#cost dl div.plan{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3%;
}


article#cost dd{
    flex-basis: auto;
}

article#cost dt{
    flex-basis: auto;
}


/* Contact */



footer {
     height: 80px;
     width: 100%;
     background: rgb(240,240,240);
     margin-top:80px;
}
