/*
PC用css
*/

@charset "utf-8";

#page_box{
     width: 100%;
}

header {
     height: 100px;
     width: 100%;
}


nav ul{
     display: flex;
     height: 100px;
     width: 100%;
     background: rgb(240,240,240);
}
nav ul li{
     margin: 0px 0px 0px 20px;
     width: 20%;
}
nav a {
}


/*------------------------------------------------*/
/* main_visual～自己紹介まで */
/*------------------------------------------------*/

#main_visual{
     height: 925px;
     width: 100%;
}


main #self_introduction{
     display: flex;
     align-items: center;
     padding-left: 10%; 
     padding-right: 10%;
     padding-top: 50px; 
     padding-bottom: 50px; 
}


.likeh2{
    width: 35%;/*左に配置し幅固定*/
}
.explanatory_text{
    flex: 1;/*右に配置し、幅可変*/
}

main #design div{   
    margin-right: 25%;
}
main #retouch div{
    margin-left: 25%;
}


/*------------------------------------------------*/
/* Portfolio～Contact */
/*------------------------------------------------*/

/* Portfolio */
.portfolio_image{
    background: rgb(256,256,256);
}

/* Work flow */
.work_flow_stage{
    background: rgb(256,256,256);
}

/* Cost */
article#cost{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.plan{
    border-top: solid 1px rgb(42,42,42);
}
.plan:last-of-type {
    border-bottom: solid 1px rgb(42,42,42);
}

/* Contact */
