/*
スマホ用css
*/

@charset "utf-8";

#page_box{
     width: 100%;
}

header {
}

nav ul{
}

nav ul li{
}

 nav ul li a:link
,nav ul li a:visited{
    color: rgb(0, 0, 0);
}
 nav ul li a:hover 
,nav ul li a:active {
    color: rgb(166, 166, 166);
}

.contents{
    /*ページ内リンクの位置調整*/
    margin-top: -30px;
    padding-top: 30px;
}


/*------------------------------------------------*/
/* main_visual～自己紹介まで */
/*------------------------------------------------*/

#main_visual{
     height: 619px;
     width: 100%;
     background: url("../data/img/mainvisual_sp.jpg") no-repeat center center;
     background-size: auto 619px;
}

main{
    /*gridの比率sp用*/
    grid-template-rows: 2fr 3.5fr 5fr;/* 行の髙さの比率 3行*/
    grid-template-columns:1fr 1fr;  /* 列の幅の比率 2列*/
}

 main #retouch h1
,main #design h1 {
    font-size: 1.5em;
}

 main #retouch img
,main #design img {
    width: 65%;
    height: auto;
}


 main #retouch p
,main #design p {
    font-size: 0.9em;
}


main #self_introduction{
     padding-left: 10%; 
     padding-right: 10%;
     padding-top: 50px; 
     padding-bottom: 50px; 
}


.likeh2{
    margin-bottom: 20px;
}
.explanatory_text{
}

main #self_introduction h2{
    margin-right: auto;
    margin-left: auto;
    font-size: 1em;
    width: 6em;
    padding: 0.5em 1em 0.5em 1em ;
    letter-spacing: 0.3em;
}   


/*------------------------------------------------*/
/* Portfolio～Contact */
/*------------------------------------------------*/
article{
    width: 90%;
    margin-right: auto;
    margin-left : auto;
}

/* Portfolio */
#portfolio_image{
}

#portfolio_image .img_box{
    margin-bottom: 5%;
}



/* Work flow */
article#workflow dl div.work_flow_stage{
}
article#workflow dd{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
article#workflow dt{
}


/* Cost */
article#cost dl{
    /*pc用では#plans_first_halfと#plans_latter_halfを横並びにする*/
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

article#cost dl div#plans_latter_half{
    border-bottom: solid 1px rgb(42,42,42);
    width: 100%;
}

article#cost dl div#plans_first_half{
    margin-right: 0%;
}
article#cost dl div#plans_latter_half{
    margin-left: 0%;
}



article#cost dl div.plan{
    border-top: solid 1px rgb(42,42,42);
}

/* Contact */
